@model IEnumerable<TennisPlanet.Models.Order.OrderIndexVM>
@{
    ViewData["Title"] = "Index";
}

<h1>My Orders</h1>

@foreach (var product in Model)
{

    <div class="card" style="width: 24rem;">
        <div class="card-body text-center">
            <h4>@product.OrderDate</h4>
            <h6>Brand: <b>@product.Product</b></h6>
            <h6>Price: <b>@product.Price</b></h6>
            <img src="@product.Picture" class="card-img-top" alt="Product Image">
            <h6>CountOfProduct: <b>@product.CountOfProducts</b></h6>
            <h6>Price: <b>@product.Price</b></h6>
            <h6>Discount: <b>@product.Discount</b></h6>
            <h6>TotalPrice: <b>@product.TotalPrice</b></h6>
        </div>
    </div>
}