@model TennisPlanet.Models.Product.ProductDetailsVM
@{
    ViewData["Title"] = "Details";
}
<h3><b>@Html.DisplayFor(model=>model.ItemName)</b></h3>

 <div style="display: flex; align-items: center; justify-content: left; margin-bottom:15px;">
    <div style="width: 30%; text-align: left;">
        <img src="@Html.DisplayFor(model => model.Picture)" alt="Image" style="width: 100%; max-height: 60%;" />
    </div>
    
<table style="width: 50%; padding: 20px;" class="table table-bordered">
    <tr>
        <td colspan="2" style="font-size: 25px;"><b>Product information</b></td>
    </tr>
    <tr>
        <td>Product name:</td>
        <td>@Html.DisplayFor(model => model.ItemName)</td>
    </tr>
    <tr>
        <td>Brand:</td>
        <td>@Html.DisplayFor(model => model.BrandName)</td>
    </tr>
    <tr>
        <td>Category:</td>
        <td>@Html.DisplayFor(model => model.CategoryName)</td>
    </tr>
    <tr>
        <td>Size:</td>
        <td>@Html.DisplayFor(model => model.Size)</td>
    </tr>
    <tr>
        <td>Quantity in stock:</td>
        <td>@Html.DisplayFor(model => model.QuantityInStock)</td>
    </tr>
    <tr>
        <td>Price:</td>
        <td>@Html.DisplayFor(model => model.Price)</td>
    </tr>
    <tr>
        <td>Discount:</td>
        <td>@Html.DisplayFor(model => model.Discount)</td>
    </tr>
</table>
</div>
<div class="text-center">
    @if ((this.User.Identity.IsAuthenticated) && (this.User.IsInRole("Administrator")))
    {
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning mb-2">Edit</a>
    }

    <a asp-action="Index" class="btn btn-dark mb-2">Back to products</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


@*
    <div style="width: 50%; padding: 20px;">
        <p style="font-size:25px;">
        <dd class="col-sm-10" style="font-size:large">
            <h6>Product name: <b>@Html.DisplayFor(model => model.ItemName)</b></h6>
            <h6>Brand: <b>@Html.DisplayFor(model => model.BrandName)</b></h6>
            <h6>Category: <b>@Html.DisplayFor(model => model.CategoryName)</b></h6>
            <h6>Size: <b>@Html.DisplayFor(model => model.Size)</b></h6>
            <h6>Quantity in stock: <b>@Html.DisplayFor(model => model.QuantityInStock)</b></h6>
            <h6>Price: <b>@Html.DisplayFor(model => model.Price)</b></h6>
            <h6>Discount: <b>@Html.DisplayFor(model => model.Discount)</b></h6>
        </dd>
        </p>
    </div>
</div> *@

