@model TennisPlanet.Models.Wishlist.WishlistIndexVM

<h2>My Wishlist</h2>

    <ul>
        @foreach (var item in Model.WishlistItems)
        {
            <li>
                <h3>@item.Name</h3>
                <img src="@item.Picture" alt="@item.Name" />
                <p>Price: @item.Price</p>
                <p>Size: @item.Size</p>
                <form asp-controller="Wishlist" asp-action="RemoveFromWishlist" method="post">
                    <input type="hidden" name="itemId" value="@item.Id" />
                    <button type="submit">Remove from Wishlist</button>
                </form>
            </li>
        }
    </ul>